* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* global */

.container {
    width: 80%;
    margin: auto;
}


/* header */

header {
    background: black;
    color: white;
    overflow: auto;
}

header .toggler {
    display: none;
}

header h3 {
    float: left;
    padding: 20px 0;
}

header nav {
    float: right;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px 20px;
}


/* banner */

#banner {
    background-image: url("/images/speed-internet-technology-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
    color: black;
    text-align: center;
}

#banner h1 {
    font-size: 50px;
    margin: 10px 0;
}


/* skills */

#skills {
    margin-bottom: 25px;
}

#skills h2 {
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}

#skills .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    text-align: center;
    padding: 0px 25px;
}

.skill-box i {
    font-size: 120px;
    padding: 10px 0;
}

.skill-box h3 {
    font-size: 25px;
    padding: 10px 0;
}

.skill-box p {
    font-size: 18px;
}

@media only screen and (max-width:768px) {
    #skills .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

@media only screen and (max-width:426px) {
    .container {
        width: 100%;
        margin: auto;
    }
    /* header */
    header h3 {
        margin-left: 10px;
    }
    header .toggler {
        width: 40px;
        padding: 5px 2px;
        float: right;
        margin-top: 4px;
        margin-right: 4px;
        display: block;
    }
    header .toggler span {
        width: 100%;
        height: 3px;
        background-color: black;
        display: block;
        margin: 5px 0;
    }
    header nav {
        float: right;
        padding: 10px 0;
        display: none;
    }
    /* banner */
    #banner h1 {
        font-size: 33px;
        margin: 10px 0;
    }
    /* skills */
    #skills .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
}